@tailwind base;
@tailwind components;
@tailwind utilities;

.rose_textbg {
    @apply border-l-4 border-rose-800 bg-gradient-to-r from-rose-600/35 to-rose-600/5
}

.cyan_textbg {
    @apply border-l-4 border-cyan-600 bg-gradient-to-r from-cyan-600/35 to-cyan-600/5
}

.overlay {
    position: relative;
}

.overlay::after {
    @apply absolute inset-0 bg-gradient-to-b from-black/0 to-[#0F0F0F];
    content: ""
}

.header_text {
    @apply text-3xl md:text-6xl text-center
}

.contain {
    @apply max-w-7xl mx-auto mt-24 md:mt-40 text-center
}

hr {
    @apply  border-gray-300/10 m-6 w-full mx-auto
}

input {
    @apply bg-transparent w-full;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.input{
    @apply border border-gray-300/50 rounded-full px-3 py-2 md:py-1.5 bg-gray-300/10 w-full
}

.gradient-border {
    position: relative;
  }
  
  .gradient-border::before {
    @apply absolute -inset-[1.5px] -z-10 bg-gradient-to-r from-transparent from-30% via-white to-transparent to-70%;
    content: ""
  }

  .gradient-border::after {
    @apply absolute -inset-[1px] -z-10 bg-[#0F0F0F] text-white;
    content: ""
  }